.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .right {
    min-width:200px; 
    top:39%;
    left:100%;
    margin-left:-10px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:white;
    background: rgba(0, 0, 0, 0.5);
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
    word-wrap: break-word;
}

.tooltip:hover .right {
    display:block;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:grey;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.enemyStats .right p img, .enemyStats .right h2 img{
    width:25px;
    height:25px;
    margin-right:5px;
    margin-top:1px;
}

.enemyStats .right h2{
    margin-bottom: -20px;
}

.boss{
    color: red;
    animation: boss_glow 5s infinite alternate;
}

.evil{
    color: rgb(76, 0, 176);
    animation: evil_glow 5s infinite alternate;
}

@keyframes boss_glow{
    0% {
        opacity: 1;
        text-shadow: 0 0 1px rgb(255, 1, 1);
    }
    100% {
        opacity: 1.5;
        text-shadow: 0 0 30px rgb(241, 218, 218);
    }
}

@keyframes evil_glow{
    0% {
        opacity: 1;
        text-shadow: 0 0 1px rgb(60, 5, 115);
    }
    100% {
        opacity: 1.5;
        text-shadow:  0 0 1px  0 0 1px rgb(204, 169, 240);
    }
}

/*Animations for Enemies*/

/*For flying, floating enemies*/
.enemyAnim{
    animation:  bounce 5s infinite;;
}

/*Slower Variation of enemyAnim*/
.enemyAnim1{
    animation:  bounce 6s infinite;;
}

/*For any enemy that walks*/
.enemyAnim2{
    animation: walk-animation 5s infinite;
}

/*For fast enemies*/
.enemyAnim3{
    animation: jump-shaking 1s infinite;
}

/*Variation of enemyAnim3*/
.enemyAnim3_2{
    animation: jump-shaking 2s infinite;
}

/*For slow enemies*/
.enemyAnim4{
    animation: jump-shaking 5s infinite;
}

/*For twitching or near dead enemies*/
.enemyAnim5{
    animation: skew-x-shaking 6s infinite;
}



@keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Start and end position, no translation */
    }
    50% {
      transform: translateY(-15px); /* Bounce up */
    }
}


@keyframes walk-animation {
    0%, 100% {
        transform: translateX(0px); 
    }
    50% {
        transform: translateX(30px); 
    }
    
}


@keyframes jump-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(10deg) }
    55% { transform: translateY(-9px) rotate(-10deg) }
    65% { transform: translateY(-9px) rotate(10deg) }
    75% { transform: translateY(-9px) rotate(-10deg) }
    100% { transform: translateY(0) rotate(0); }
}

@keyframes skew-x-shaking{
    0% { transform: skewX(-1deg); }
    5% { transform: skewX(1deg); }
    10% { transform: skewX(-1deg); }
    15% { transform: skewX(1deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}