.termina{
    color:white;
    text-align: center;
}

.intro{
    text-align: justify;
}

.leaderBoard{
    border: 3px solid white;
    color: white;
    padding: 10px;
    width: 350px;
    height: 600px;
    word-wrap: break-word;
    overflow-y: auto;
}