body{
    background-color: black;
}

.visuals{

}

.caverns{
    background-image: url(./images/background/Caverns_background.jpg);
    background-repeat: no-repeat;
    background-position: right-top;
}

.forest3{
    background-image: url(./images/background/Forest_background3.png);
    background-repeat: no-repeat;
    background-position: right-top;
}

.box{
    display: flex;
    margin-top:20px;
    margin-right:10%;
    margin-left: 10%;
    max-height: 50%;
    overflow-y: auto;
}

.battleBox{
    color:white;
    background-color: black;
    overflow-y: scroll;
    padding: 10px;
    border: 3px solid white;
    width:45%;
    height: 600px;
}

.battleBox p{
    color:white;
}

.battleBox h3{
    margin-top: 50px;
}

.textbox{
    border: 3px solid white;
    color: white;
    padding: 10px;
    width: 500px;
    height: 600px;
    word-wrap: break-word;
    overflow-y: auto;
}

.textbox a{
    color:white;
}

.stats{
    padding: 10px;
    background-color: black;
    border: 3px solid white;
    color:white;
    width: 20%;
    height: 600px;
}

.stats p img{
    width:25px;
    height:25px;
    margin-right:5px;
    margin-top:1px;
}

.stats h3, .stats h4{
    text-align: center;
}

