body{
    background-color: black;
}

.termina{
    color:white;
    text-align: center;
}

.intro{
    text-align: justify;
}

.leaderBoard{
    border: 3px solid white;
    color: white;
    padding: 10px;
    width: 350px;
    height: 600px;
    word-wrap: break-word;
    overflow-y: auto;
}

.caverns{
    background-image: url(./images/background/Caverns_background.jpg);
    background-repeat: no-repeat;
    background-position: right-top;
    background-size: cover;
}

.forest1{
    background-image: url(./images/background/Forest_background1.png);
    background-repeat: no-repeat;
    background-position: right-top;
    background-size: cover;
}

.forest3{
    background-image: url(./images/background/Forest_background3.png);
    background-repeat: no-repeat;
    background-position: right-top;
    background-size: cover;
}

.thicket{
    background-image: url(./images/background/Thicket_background.png);
    background-repeat: no-repeat;
    background-position: right-top;
    background-size: cover;
}

.wood_village{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(./images/background/insect_village.jpg);
    background-repeat: no-repeat;
    background-position: right-top;
    background-size: cover;
}

.forest_opening{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(./images/background/forest_opening.jpg);
    background-repeat: no-repeat;
    background-position: right-top;
    background-size: cover;
}

.peaks1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(./images/background/peaks1.png);
    background-repeat: no-repeat;
    background-position: right-top;
    background-size: cover;
}

.void{
    background-image: url(./images/background/Void_background2.png);
    background-repeat: no-repeat;
    background-position: right-top;
    background-size: cover;
}

.box{
    display: flex;
    margin-top:20px;
    margin-right:10%;
    margin-left: 10%;
    max-height: 50%;
    overflow-y: auto;
}

.battleBox{
    color:white;
    background-color: black;
    overflow-y: scroll;
    padding: 10px;
    border: 3px solid white;
    width:45%;
    height: 600px;
}

.battleBox p{
    color:white;
}

.battleBox h3{
    margin-top: 50px;
}

.textbox{
    border: 3px solid white;
    color: white;
    padding: 10px;
    width: 500px;
    height: 600px;
    word-wrap: break-word;
    overflow-y: auto;
}

.textbox a{
    color:white;
}

.stats{
    padding: 10px;
    background-color: black;
    border: 3px solid white;
    color:white;
    width: 20%;
    height: 600px;
    overflow-y: auto;
}

.stats p img{
    width:25px;
    height:25px;
    margin-right:5px;
    margin-top:1px;
}

.stats h3, .stats h4{
    text-align: center;
}

.tooltip .bottom {
    min-width:200px; 
    top:100px;
    left:95%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#FFFFFF;
    
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px #000000;
    display:none;
}

.tooltip:hover .bottom {
    display:block;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom p img{
    width:25px;
    height:25px;
    margin-right:5px;
    margin-top:1px;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#000000;
    box-shadow:0 1px 8px #000000;
}

.divine{
    animation: divine_glow 10s infinite ease-in-out;
    color: gainsboro;
    text-shadow: yellow;
}

@keyframes divine_glow{
    0% {
        opacity: 1;
        text-shadow: 0 0 1px gold;
    }
    50%{
        opacity: 1.5;
        text-shadow: 0 0 30px yellow
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 1px gold;
    }
}
